name: trivy
on:
    push:
        branches:
            - main
            - master
    pull_request: null
jobs:
    trivy-fs-scan:
        name: Trivy Filesystem Scan
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5
            
            - name: Run Trivy vulnerability scanner on filesystem
              uses: aquasecurity/trivy-action@0.33.1
              with:
                  scan-type: 'fs'
                  scan-ref: '.'
                  format: 'table'
                  exit-code: '1'
                  ignore-unfixed: true
                  vuln-type: 'os,library'
                  severity: 'CRITICAL,HIGH'
                  skip-dirs: 'htmlcov,.venv,port'
                  trivyignores: '.trivyignore'
    
    trivy-docker-scan:
        name: Trivy Docker Image Scan
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5
            
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            
            - name: Build Docker image
              run: |
                docker build -t joeri-abbo/lizzy:${{ github.sha }} .
            
            - name: Run Trivy vulnerability scanner on Docker image
              uses: aquasecurity/trivy-action@0.28.0
              with:
                  scan-type: 'image'
                  image-ref: 'joeri-abbo/lizzy:${{ github.sha }}'
                  format: 'table'
                  exit-code: '1'
                  ignore-unfixed: true
                  vuln-type: 'os,library'
                  severity: 'CRITICAL,HIGH'
                  trivyignores: '.trivyignore'
