name: trivy
on:
    push:
        branches:
            - main
    pull_request: null
jobs:
    build:
        name: Trivy
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5
            - name: Build an image from Dockerfile
              run: docker build -t Joeri-Abbo/lizzy:${{ github.sha }} .
            - name: Run Trivy vulnerability scanner
              uses: aquasecurity/trivy-action@0.33.1
              with:
                  image-ref: Joeri-Abbo/lizzy:${{ github.sha }}
                  format: table
                  exit-code: "1"
                  ignore-unfixed: true
                  vuln-type: os,library
                  severity: CRITICAL,HIGH
